<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="RandomName" value="Server=ServerIp;Database=DatabaseName;uid=DBUserId;pwd=DBPassword!;Pooling=true or false;Max Pool Size=Set the size you want;Connect Timeout=Set the Time out you want;"  /> <!-- Here, you add you database information -->
    <add key="RandomName" value="fgh41dzhS465ddxx" /> <!-- A random encryption key -->  
  </appSettings>
</configuration>